$cardio-color: rgb(163, 47, 82);
$dentist-color: rgb(52, 156, 95);
$therapist-color: rgb(50, 139, 155);

$cardio-color-done: rgb(148, 114, 124);
$dentist-color-done: rgb(104, 141, 120);
$therapist-color-done: rgb(156, 185, 190);

$modal-icon-color: #a6a0ae;
$modal-background-color: #e8dff6;